@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

.content {
	figure {
		width: 100%;
		height: 200px;
		position: relative;
		opacity: 0;
		transition: 1s;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		h1 {
			position: absolute;
			left: 0vw;
			bottom: -32px;
			font: 200px/1 'saira stencil one';
			color: #efefef;
			opacity: 0;
			transition: 1s 0.5s;
		}
	}

	> .inner {
		width: 80vw;
		min-height: 700px;
		margin: 100px auto;
		transform: translateY(100px);
		opacity: 0;
		transition: opacity 1s 0.8s, transform 1s 0.8s;

		p {
			font-size: 20px;
		}
	}
}

//전환 모션
.content.on {
	figure {
		opacity: 1;

		h1 {
			left: 10vw;
			opacity: 1;
		}
	}

	> .inner {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: $tablet) {
	.content {
		figure {
			height: 150px;
			h1 {
				font-size: 130px;
				bottom: -22px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.content {
		figure {
			height: 100px;
			h1 {
				font-size: 60px;
				bottom: 0px;
			}
		}
	}
}
