.Department {
	> .inner {
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		article {
			width: 33.333%;
			float: left;
			padding: 50px;
			margin-bottom: 30px;

			.inner {
				width: 100%;

				.pic {
					width: 100%;
					height: 20vmax;
					background: #111;
					margin-bottom: 20px;
					filter: saturate(0.2);
					transition: 0.5s;

					&:hover {
						filter: saturate(1.2);
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Department {
		> .inner {
			article {
				width: 50%;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Department {
		> .inner {
			article {
				width: 100%;
			}
		}
	}
}
